h2 {
  color: black;
}

.dashboard {
  padding: 40px;
  margin-top: 70px;
}

.create-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.create-button-container button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.create-button-container button:hover {
  background-color: #218838;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  outline: none;
}
