html {
  scroll-behavior: smooth;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #576cbc;
}

.home-content {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("../../../public/assets/home.png");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.header__content--right {
  flex: 1;
  max-width: 500px;
  text-align: center;
  padding: 70px 50px;
}

.header__title {
  font-size: 3em;
  margin-bottom: 20px;
}

.para__text {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.signup-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #576cbc;
  font-weight: 600;
}

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin: 5% 10%;
  z-index: 1;
}

.title {
  font-size: 2.5em;
  color: white;
  margin-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 35%;
  border-radius: 100%;
}

.aboutItems {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem p {
  text-align: justify;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
    width: 50%;
    z-index: 1;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}

h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
  color: white;
}

#service {
  background-color: #19376d;
}

#service .content {
  flex-direction: row-reverse;
}

.footer {
  width: 97.7%;
  padding: 0 15px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.footer__content {
  display: grid;
  gap: 20px;
  padding: 50px 0;
}

.footer__content--item {
  padding: 10px;
  color: white;
}

.footer__content--item a {
  color: white;
  text-decoration: none;
}

.footer__content--item a:hover {
  text-decoration: underline;
  color: blueviolet;
}

.footer__title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: whitesmoke;
  text-decoration: underline;
}

.footer__links {
  list-style: none;
  padding: 0;
}

.footer__links li {
  margin-bottom: 10px;
}

.footer__links a {
  color: white;
  text-decoration: none;
}

.footer__links a:hover {
  text-decoration: underline;
}

.text__center {
  text-align: center;
}

.text__light {
  color: #fff;
}

.text__grey {
  color: white;
}

.section__padding {
  padding: 50px 0;
  width: 100%;
}

.bg__whitesmoke {
  background-color: #f5f5f5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
