nav {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(51, 171, 245);
  color: aliceblue;
  padding: 10px 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 180px;
  height: 50px;
}

#navbar li {
  list-style: none;
  padding: 0px 10px;
  position: relative;
}

#navbar li button {
  border-radius: 10px;
  border: none;
  background-color: rgb(253, 151, 7);
  color: white;
  align-self: center;
  padding: 10px;
  font-size: medium;
  transition: 0.3s ease-in-out;
}

#navbar li button:hover {
  background-color: rgb(100, 230, 100);
}
