nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 97%;
  background-color: rgb(51, 171, 245);
  padding: 10px 20px;
  z-index: 1000;
}

.logo {
  float: left;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 180px;
  height: 50px;
}

#navbar li {
  list-style: none;
  padding: 0px 10px;
  position: relative;
}

#navbar li button {
  border-radius: 10px;
  border: none;
  background-color: white;
  color: rgb(51, 171, 245);
  font-weight: 500;
  align-self: center;
  padding: 10px 20px;
  font-size: medium;
  transition: 0.3s ease-in-out;
}

#navbar li button:hover {
  background-color: #0056b3;
  color: white;
  font-weight: 600;
  font-size: medium;
}
