body {
  margin: 0px;
}

input {
  padding: 5px;
  width: 200px;
  margin: 5px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}
